.customers_section {
  height: 374px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers_container {
  padding-left: 15px;
}

.customers_nav {
  display: flex;
}

.customers_item {
  width: 170px;
  height: 92px;
  & + .customers_item {
    margin-left: 30px;
  }
}

.customers_link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid;
  border-color: #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--fifeth-text-color);
    color: #2196f3;
  }
}

.customers_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
  &:hover,
  &:focus {
    fill: var(--fifeth-text-color);
  }
}
