.hero_section {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero_container {
  margin: 0 auto;
  text-align: center;
}
.hero_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-text-color);
  margin-bottom: 30px;
}

.button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  color: var(--first-text-color);
  background-color: var(--fifeth-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
