.work_section {
  padding-left: 15px;
  padding-bottom: 94px;
}

.work-container {
  margin: 0 auto;
  width: 1170px;
  height: 386px;
}

.work_nav {
  display: flex;
}

.work_item {
  margin-right: 0px;
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.work_text {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  position: absolute;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  align-items: center;
}

.work_text--color {
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
